<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by title"
        [(ngModel)]="title"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchTitle()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Books List</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let book of books; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveBook(book, i)"
      >
        {{ book.title }}
      </li>
    </ul>

    <button class="m-3 btn btn-sm btn-danger" (click)="removeAllBooks()">
      Remove All - DangerZone
    </button>
  </div>


  <div class="col-md-6">
    <div *ngIf="currentBook">
      <h5>Selected book:</h5>

      <div>
        <label><strong>Book theme:</strong></label> {{ currentBook.theme }}
      </div>
      <div>
        <label><strong>Author:</strong></label> {{ currentBook.author }}
      </div>
      <div>
        <label><strong>Title:</strong></label> {{ currentBook.title }}
      </div>
      <div>
        <label><strong>Genre:</strong></label> {{ currentBook.genre }}
      </div>
      <div>
        <label><strong>Price:</strong></label> {{ currentBook.price }}
      </div>
      <div>
        <label><strong>Status:</strong></label>
        {{ currentBook.published ? "In Stock" : "Out-of-list" }}
      </div>

      <!-- When the edit button is clicked, the user will be directed to /books/:id -->
      <a class="badge badge-warning" href="/books/{{ currentBook.id }}">
        Edit
      </a>
    </div>

    <div *ngIf="!currentBook">
      <br />
      <p>Click on a title to show its details.</p>
    </div>
  </div>
</div>
